# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
out/
.next/
dist/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# OS files
.DS_Store
*.pem

# Misc
*.log
